body {
    background-image: url(https://exxodus-sama.github.io/Media-Searcher/assets/images/gaming-pattern.png);
}

nav {
    background-color: #cccccc;
    margin-top: 10%;
    margin-bottom: 0%;
}

